#btn{
    display: flex;
}
.faclose{
    display: none;
}


@media(max-width:756px){
    #btn{
        display: block;
        flex-direction: column !important;
    }
    #linked{
        border-bottom: 2px solid gray;
        padding: 10px 2px;
        margin: 20px 0;
    }
}