@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --bg:#02021b;
    --text:white;
    ---btn:#3673fd;

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color: var(--bg); */
}
#mypa{
    line-height: 3rem;
}

#bord{
    border-left: 1px solid rgb(226, 226, 226);
}
#btom{
    border-bottom: 1px solid gray;
}

.containe{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
}
@media(max-width:756px){
    #mypa{
        line-height: 2.1rem;
    }  
    #bord{
        border-left:none;
        border-top: 2px solid rgb(226, 226, 226);
    }
    .barnav{
        display: block
    }
    
    .barnav div:nth-child(1){
        height: 3px;
        width: 27px;
        background-color: black;
        margin:5px 2px;
    }
    .barnav div:nth-child(2){
        height: 3px;
        width: 27px;
        background-color: black;
        margin:5px 2px;
    
    }
    .barnav div:nth-child(3){
        height: 3px;
        width: 27px;
        background-color: black;
        margin:5px 2px;
    
    }
}